.all {
  height: 745px;
}
.main-screen-shap {
  padding: 0px 25px;
}
.shap-title:not(.class-border),
.shap-text__main__sub-text {
  padding: 0px 25px;
}
.shap-title div {
  justify-content: space-between;
}
.shap-title div:not(.shop-title-main) {
  color: #b4b4b4;
}
.shop-title-main {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
.class-border {
  padding: 0px;
  border-top: 1px solid #efefef;
}
.shap-texts__all {
  margin-top: 15px;
  padding: 0px;
}
.bold-border {
  margin: 0px;
  border-bottom: 15px solid #efefef;
}
.shap-texts__header {
  padding-right: 40px;
}
.shap-texts__header span {
  margin-bottom: 10px;
}
.shap-texts__sub {
  justify-content: space-between;
  padding-left: 0px;
}
.shap-texts__sub span {
  color: #cf6670;
}
.shap-texts__sub i {
  color: #c8c8c8;
}
.kakao-qr,
.shap-texts__sub,
.shap-text__main,
.shap-text__main-text span,
.shap-text__main__sub-text,
.shap-text__main__sub-img {
  display: flex;
}

.shap-text__main {
  flex-direction: column;
  padding: 10px 25px;
}
.shap-text__main-text span {
  margin-bottom: 10px;
}
.shap-text__main-text + .shap-text__main-text {
  padding-top: 10px;
  border-top: 1px solid #efefef;
}
.shap-text__main__sub-img {
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 130%;
}
.shap-text__main__sub-img img {
  width: 200px;
  height: 93px;
}
.shap-text__main__sub-img {
  margin: 0px 20px 0px 20px;
}
.shap-text__main__sub-text span {
  margin-top: 10px;
  width: 200px;
}
.shap-text__main__sub-text {
  justify-content: center;
  margin-bottom: 20px;
}
.kakao-qr {
  justify-content: flex-start;
  margin: 5px;
  align-items: center;
}
.kakao-qr div:first-child {
  display: flex;
  background-color: #4e7ede;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  width: 54px;
  height: 17px;
  justify-content: center;
}
.kakao-qr__badge span {
  opacity: 0.8;
}
.kakao-qr div {
  margin: 10px;
}
.shap-bottom {
  background: url("file:///C:/Users/eunji/OneDrive/Desktop/kokoa%20clone/practice-myself/add.jpg")
    no-repeat;
  width: 483px;
  height: 100%;
}
.shap-bottom__ad {
  display: flex;
  justify-content: space-between;
  color: white;
  opacity: 0.8;
  padding: 15px;
}
.shap-bottom__ad div:last-child span {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}
.shap-search {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #ffd900;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 14px 0px;
  align-items: center;
  font-size: 20px;
}
.shap-search_shap {
  display: flex;
  align-content: space-between;
  width: 100%;
  font-weight: bold;
  color: #ffd900;
}
.shap-search_text input {
  margin-left: 10px;
  width: 383px;
  border: none;
  opacity: 0.6;
}
.shap-search i {
  width: 20%;
  color: #ffd900;
}
.shap-search__back {
  background: url("file:///C:/Users/eunji/OneDrive/Desktop/kokoa%20clone/practice-myself/white.jpg")
    no-repeat;
  width: 483px;
  height: 100%;
  border-top: 1px solid white;
  border-radius: 10px;
}
.shap-bottom__hash {
  padding: 10px 25px;
}
.shap-bottom__hash span {
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 200%;
  border-radius: 10px;
  padding: 1px 5px;
  font-size: 15px;
}
