.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 18px;
}
.nav__btn-notification {
  position: absolute;
  left: 30px;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
