.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5px 20px;
  margin: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}
.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__notification {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
