.find-icons {
  display: flex;
  justify-content: space-between;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.find-icons__icon i {
  font-size: 35px;
}
.find-icons__icon span {
  margin-top: 18px;
}
.recomended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  margin: 25px 0px;
  padding: 25px 0px;
}
.recomended-friends span,
.recomended-friends__title {
  font-size: 14px;
  color: var(--subtext-color);
}
.recomended-friends span {
  display: block;
  margin: 110px 0px;
  text-align: center;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--subtext-color);
  margin-bottom: 25px;
  margin-top: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: var(--main-border);
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  margin-top: 10px;
  display: flex;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  background-color: var(--gray);
  margin: 0px 5px;
}
.open-post__members-status {
  color: #ffb0c0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 9px;
  right: 9px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 6px;
}
