#friends-display-link {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18;
  margin-bottom: 15px;
  margin-top: -10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
}
.friends-screen__channel-header {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 5px;
}
