.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav-bar i {
  font-size: xx-large;
}
.nav-bar li {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav-bar__chats,
.nav-bar__more {
  position: relative;
}
.nav__red-notification {
  position: absolute;
  left: 30px;
}
.nav__red-notification-number {
  position: absolute;
  left: 23px;
  bottom: 20px;
}
