.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 700;
  font-size: 25px;
  padding: 0px 25px;
}
.screen-header__title-icons {
  display: flex;
  justify-content: flex-end;
}
.screen-header__title-icons i {
  margin-left: 23px;
}
