.screen-header__title {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  font-weight: 700;
  font-size: 25px;
}
.screen-header__title-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.screen-header__title-icons i {
  margin-left: 23px;
}
